@import "variables";

@media (any-hover: hover) {
  .shop-inner .shop-slider .swiper-shop .swiper-slide:hover {
    opacity: .7;
  }
}

.shop {
  position:      relative;
  margin-bottom: 5%;
  overflow:      hidden;
  .container {
    padding: 0 30px;
  }
  &:after, &:before {
    position: absolute;
  }
  &:after {
    content:    "";
    background: $primaryColor;
    width:      50vw;
    height:     100%;
    top:        0;
    right:      0;
    z-index:    -2;
  }
  &:before {
    color:          $whiteColor;
    top:            275px;
    right:          -235px;
    font-size:      10.42vw;
    font-weight:    bold;
    text-transform: uppercase;
    z-index:        10;
    transform:      rotate(-90deg);
  }
  .container {
    position: inherit;
  }
  &-inner {
    display:         flex;
    justify-content: space-between;
    padding-top:     5%;
    .shop-slider {
      width:     45.65vw;
      max-width: 870px;
      .swiper-shop {
        height:     20%;
        box-sizing: border-box;
        padding:    10px 0;
        overflow:   visible;
        position:   relative;
        .swiper-wrapper {
          .swiper-slide {
            display:     flex;
            align-items: center;
            background:  $whiteColor;
            width:       420px;
            padding:     20px;
            &:active {
              opacity: .7;
            }
          }
        }
      }
    }
    .shop-description {
      position: relative;
      width:    42.3%;
      h1 {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 90px;
      }
    }
  }
}

.about-store-production {
  padding-top: 50px;
  overflow:    hidden;
  .production-inner {
    display:         flex;
    justify-content: space-between;
    align-items:     flex-start;
    padding:         0 3.8% 15px;
    margin-bottom:   6.7%;
    .inner-image {
      position: relative;
      width:    38.7%;
      &:before {
        content:    "";
        position:   absolute;
        top:        -6.6%;
        left:       -9.3%;
        width:      100%;
        height:     100%;
        z-index:    -1;
        background: $primaryColor;
      }
    }
    .inner-description {
      width:       49.9%;
      padding-top: 1.5%;
      h2 {
        margin-bottom: 3.7%;
      }
      p {
        margin-bottom: 10.91%;
      }
      ul {
        width: 50vw;
        li {
          position:      relative;
          font-size:     24px;
          font-weight:   500;
          color:         $baseColor;
          padding:       15px 0 15px 80px;
          margin:        0 0 25px -30px;
          background:    $primaryColor;
          border-radius: 60px 0 0 60px;
          box-shadow:    0 5px 15px rgba(115, 190, 196, 0.40);
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            content:       "";
            position:      absolute;
            top:           50%;
            left:          45px;
            width:         20px;
            height:        20px;
            border-radius: 50%;
            border:        3px solid $baseColor;
            transform:     translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .about-store-production {
    .production-inner {
      .inner-description {
        padding-top: 15px;
        h2 {
          font-size:     30px;
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
        }
        ul li {
          font-size: 18px;
          &:before {
            width:  18px;
            height: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .shop {
    h1 {
      font-size: 40px;
    }
  }
  .about-store-production {
    .production-inner {
      .inner-description {
        padding-top: 10px;
        h2 {
          font-size:     24px;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
        }
        ul li {
          font-size: 16px;
          padding:   10px 0 10px 60px;
          &:before {
            width:  16px;
            height: 16px;
            left:   35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .shop {
    &-inner {
      padding-top: 0;
      .shop-slider {
        .swiper-shop-top {
          .swiper-slide {
            img {
              max-height: 70%;
            }
          }
        }
        .swiper-shop {
          .swiper-slide {
            height: 11vw;
            img {
              max-height: 100%;
            }
          }
        }
      }
      .shop-description {
        h1 {
          font-size:     30px;
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 60px;
        }
      }
    }
  }
  .about-store-production {
    .production-inner {
      padding: 0 0 0 2.2%;
      .inner-image {
        width: 40.1%;
        &:before {
          top:  -5%;
          left: -7.3%;
        }
      }
      .inner-description {
        padding-top: 0;
        h2 {
          font-size:     18px;
          margin-bottom: 15px;
        }
        p {
          font-size: 16px;
        }
        ul li {
          font-size:   14px;
          line-height: 1.28;
          padding:     6px 0 6px 45px;
          margin:      0 0 25px -20px;
          box-shadow:  0 3px 10px rgba(115, 190, 196, 0.40);
          &:before {
            width:  11px;
            height: 11px;
            left:   25px;
            border: 2px solid $baseColor;
          }
          &.hidden {
            display: none;
          }
          &:nth-child(3) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .shop {
    overflow: hidden;
    &:after {
      width: 100%;
    }
    &:before {
      content:       "";
      bottom:        0;
      left:          0;
      width:         445px;
      height:        333px;
      background:    $whiteColor;
      z-index:       -1;
      transform:     rotate(0) translate(0, 2%);
      border-radius: 50%;
    }
    &-inner {
      flex-direction: column;
      .swiper-shop {
        display: none;
      }
      .shop-slider {
        width:  80%;
        margin: 0 auto;
      }
      .shop-description {
        width:         100%;
        text-align:    center;
        margin-bottom: 30px;
        h1 {
          font-size: 25px;
        }
        p {
          margin-bottom: 50px;
        }
      }
    }
  }
  .about-store-production {
    padding-top: 20px;
    .production-inner {
      flex-direction:  column;
      justify-content: center;
      align-items:     center;
      .inner-image {
        width:         90%;
        margin-bottom: 55px;
        &:before {
          top:  -15px;
          left: -15px;
        }
      }
      .inner-description {
        width:         100%;
        margin-bottom: 50px;
        h2 {
          font-size:  16px;
          text-align: center;
        }
        p {
          font-size: 14px;
        }
        ul {
          width:        100vw;
          padding-left: 8%;
          li {
            font-size:   14px;
            line-height: 1.25;
            padding:     6px 6% 6px 45px;
            margin:      0 0 20px -20px;
            box-shadow:  0 2px 5px rgba(115, 190, 196, 0.40);
            &:before {
              width:  11px;
              height: 11px;
              left:   25px;
              border: 2px solid $baseColor;
            }
            &.hidden {
              display: block;
            }
            &:nth-child(3) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

// animation
.about-store-production {
  .production-inner {
    .inner-image {
      &:before {
        animation: aboutAnim 1.5s linear 0s reverse forwards;
        top:       -6.6%;
        left:      -9.3%;
      }
    }
  }
}

@keyframes aboutAnim {
  0% {
    bottom: -6.6%;
    right:  -9.3%;
  }
  100% {
    top:  6.6%;
    left: 9.3%;
  }
}