@import "variables";

@media (any-hover: hover) {
  .gallery-photography {
    .photography-item:hover {
      .item-bg {
        opacity:    1;
        visibility: visible;
      }
    }
  }
}

.gallery-description {
  padding-top: 60px;
  width:       65%;
  margin:      0 auto 5.21%;
  .description-content {
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
    p {
      font-weight:   500;
      margin-bottom: 8.6%;
    }
    .btn {
      padding: 25px 38px;
    }
  }
}

.gallery-photography {
  margin-bottom: 5.21%;
  .container {
    max-width: 1750px;
  }
  .photography-inner {
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;
    position:        relative;
  }
  .photography-list {
    display:        flex;
    flex-direction: column;
    width:          31.9333%;
  }
  .photography-item {
    overflow:      hidden;
    position:      relative;
    margin-bottom: 7%;
    cursor:        pointer;
    &:last-child {
      margin-bottom: 0;
    }
    .item-bg {
      visibility: hidden;
      opacity:    0;
      position:   absolute;
      top:        0;
      left:       0;
      width:      100%;
      height:     100%;
      background: rgba(0, 0, 0, 0.4);
      padding:    10px 15px;
      z-index:    5;
      transition: .4s linear;
      .border {
        position: relative;
        width:    100%;
        height:   100%;
        border:   3px solid $whiteColor;
        img {
          width:     95px;
          height:    95px;
          position:  absolute;
          top:       50%;
          left:      50%;
          transform: translate(-50%, -50%);
          z-index:   1;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .gallery-description {
    width: 85%;
  }
}

@media screen and (max-width: 1230px) {
  .gallery-description {
    width: 86%;
  }
}

@media screen and (max-width: 992px) {
  .gallery-photography {
    margin-bottom: 7.83%;
    .photography-item {
      .item-bg {
        padding: 10px;
        .border {
          img {
            width:  45px;
            height: 45px;
          }
        }
      }
    }
  }
  .gallery-description {
    width:         80%;
    margin-bottom: 60px;
    .description-content {
      h2 {
        margin-bottom: 10px;
      }
      p {
        line-height:   1.5625;
        margin-bottom: 60px;
      }
      .btn {
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .gallery-photography {
    .container {
      padding: 0 10px;
    }
    margin-bottom: 14.4%;
    .photography-inner {
      .photography-list {
        width:  calc(50% - 10px);
        margin: 0 5px;
      }
      .photography-item {
        margin-bottom: 10px;
      }
    }
  }
  .gallery-description {
    width:         100%;
    margin-bottom: 50px;
    padding-top:   50px;
    .description-content {
      p {
        margin-bottom: 50px;
      }
      .btn {
        padding: 10px;
      }
    }
  }
}