@import "variables";

@media (any-hover: hover) {
  .btn:hover {
    background: transparent;
    border:     2px solid $baseColor;
    color:      $baseColor;
    opacity:    1;
  }
  a:hover {
    opacity: 0.7;
  }
}

* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Montserrat', sans-serif;
  transition:  all linear 0.3s;
}

html,
body {
  height: 100%;
  width:  100%;
}

section {
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor:          pointer;
  font-size:       24px;
  line-height:     1.20;
  color:           $whiteColor;
  &:active {
    opacity: .7;
  }
}

img {
  width:   100%;
  display: flex;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
}

main {
  flex:     1 0 auto;
  position: relative;
}

h1 {
  font-size:   60px;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size:   38px;
  font-weight: 700;
  line-height: 1.23;
}

h3 {
  font-size: 24px;
}

p {
  font-size:   24px;
  font-weight: 400;
  line-height: 1.45;
}

form {
  display:        flex;
  flex-direction: column;
  label {
    display:        flex;
    flex-direction: column;
    margin-bottom:  8.8%;
    &:nth-child(4) {
      margin-bottom: 16.7%;
    }
    input {
      border:        none;
      border-bottom: 3px solid rgba(39, 179, 182, 0.4);
      font-size:     20px;
      line-height:   1.2;
      padding:       0 0 10px;
      margin-bottom: 5px;
      &:focus {
        border-bottom: 3px solid $baseColor;
      }
    }
    span {
      font-size:   18px;
      line-height: 1.2;
      color:       $baseColor;
    }
  }
}

.btn {
  display:       inline-block;
  background:    $baseColor;
  color:         $whiteColor;
  border-radius: 50px;
  border:        2px solid transparent;
  padding:       20px 25px;
  min-width:     240px;
  font-size:     18px;
  font-weight:   600;
  line-height:   1.2;
  text-align:    center;
  &:active {
    opacity: .7;
  }
}

.call {
  display:       none;
  position:      fixed;
  bottom:        15px;
  right:         15px;
  z-index:       100;
  border-radius: 50%;
  border:        1px solid $baseColor;
  padding:       5px;
  background:    $whiteColor;
  .call-icon {
    display:       flex;
    background:    $baseColor;
    border-radius: 50%;
    padding:       11px;
    img {
      width:   24px;
      height:  24px;
      display: flex;
    }
  }
}

.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1585px;
  padding:   0 40px;
  margin:    0 auto;
  position:  relative;
  height:    100%;
}

.pt-header {
  padding-top: 128px;
}

.swiper-container {
  .swiper-slide {
    cursor: pointer;
  }
  .swiper-pagination-bullets {
    height:          15px;
    bottom:          0;
    display:         flex;
    justify-content: center;
    .swiper-pagination-bullet {
      width:      15px;
      height:     15px;
      background: transparent;
      border:     2px solid $mainColor;
      display:    none;
      margin:     0 5px;
      &-active {
        background: $mainColor;
      }
    }
  }
}

section .swiper-button-prev, section .swiper-button-next {
  &:after {
    color:     #27B3B6;
    font-size: 32px;
  }
}

.zoom-popup {
  position:        fixed;
  z-index:         100;
  left:            0;
  top:             0;
  background:      rgba(0, 0, 0, 0.8);
  width:           100%;
  height:          100%;
  text-align:      center;
  display:         flex;
  align-items:     center;
  justify-content: center;
  transition:      .3s linear;
  img {
    max-width:  100vw;
    max-height: 100vh;
    width:      auto;
    margin:     0 auto;
  }
  span {
    font-size:  30px;
    color:      $whiteColor;
    position:   absolute;
    right:      1rem;
    top:        1rem;
    cursor:     pointer;
    transition: .3s linear;
    &:hover, &:active {
      opacity: .7;
    }
  }
}

@media screen and (max-width: 1400px) {
  .pt-header {
    padding-top: 107px;
  }
}

@media screen and (max-width: 1230px) {
  .container {
    padding: 0 30px;
  }
  h1 {
    font-size:   50px;
    line-height: 1.1;
  }
  .pt-header {
    padding-top: 100px;
  }
}

@media screen and (max-width: 992px) {
  section .swiper-button-prev, section .swiper-button-next {
    &:after {
      font-size: 24px;
    }
  }
  .btn {
    font-size: 16px;
    padding:   15px 20px;
    min-width: 176px;
  }
  h1 {
    font-size:   40px;
    line-height: 1.25;
  }
  h2 {
    font-size:   20px;
    line-height: 1.2;
  }
  h3 {
    font-size: 16px;
  }
  p, a {
    font-size: 16px;
  }
  form {
    label {
      input {
        border-bottom: 2px solid $baseColor;
        font-size:     16px;
        line-height:   1.1875;
      }
      span {
        font-size:   14px;
        line-height: 1.2857;
      }
    }
  }
  .pt-header {
    padding-top: 65px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    padding: 0 15px;
  }
  .swiper-container {
    .swiper-pagination-bullets {
      height: 10px;
      .swiper-pagination-bullet {
        width:  10px;
        height: 10px;
        margin: 0 8px;
      }
    }
  }
  section .swiper-button-prev, section .swiper-button-next {
    &:after {
      font-size: 17px;
    }
  }
  .btn {
    font-size: 14px;
    padding:   10px 15px;
    min-width: 138px;
  }
  .call {
    display: block;
  }
  h1 {
    font-size:   25px;
    line-height: 1.2;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p, a {
    font-size:   14px;
    line-height: 1.28;
  }
  form {
    label {
      margin-bottom: 12%;
      &:nth-child(3) {
        margin-bottom: 9.8%;
      }
      input {
        font-size:     12px;
        line-height:   1.25;
        border-bottom: 1px solid $baseColor;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .pt-header {
    padding-top: 55px;
  }
}