@import "./variables";
@media (any-hover: hover) {
  .home .banner .btn:hover {
    color: $whiteColor;
  }
}

.home {
  .banner {
    position:            relative;
    background-image:    url("../images/hero-bg.jpg");
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
    height:              100vh;
    min-height:          1080px;
    margin-bottom: 6%;
    &-overlay {
      position:   absolute;
      top:        0;
      right:      0;
      bottom:     0;
      left:       0;
      background: rgba(63, 63, 63, 0.5);
    }
    &-inner {
      display:     flex;
      align-items: center;
      height:      100%;
      .inner-description {
        color: $whiteColor;
        h1 {
          margin-bottom: 30px;
        }
        p {
          margin-bottom: 90px;
        }
      }
    }
  }
  .capabilities {
    margin-bottom: 10.43%;
    &-inner {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      .inner-image {
        width: 44%;
      }
      .inner-description {
        width: 40.2%;
        h2 {
          margin-bottom: 30px;
        }
      }
    }
  }
  .suggestions {
    .container {
      max-width: 1760px;
      margin: 0 0 0 auto;
    }
    margin-bottom: 9.64%;
    &-inner {
      display: flex;
    }
    &-description {
      width: 27%;
      margin: 0 90px 0 45px;
      h2 {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 25px;
      }
      a {
        color: $baseColor;
      }
    }
    &-swiper {
      width: 50vw;
    }
    .swiper-container {
      padding-left: 65px;
    }
  }
}

@media screen and (max-width: 1230px) {
  .home {
    .banner {
      &-inner {
        .inner-description {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    .banner {
      min-height: 761px;
      &-inner {
        justify-content: center;
        .inner-description {
          text-align: center;
          h1 {
            margin-bottom: 15px;
          }
          p {
            font-size:     15px;
            line-height:   1.66;
            padding:       0;
            margin-bottom: 35px;
          }
        }
      }
    }
    .capabilities {
      margin-bottom: 13%;
      &-inner {
        flex-direction: column;
        .inner-image {
          width:         50%;
          margin-bottom: 7.1%;
        }
        .inner-description {
          width: 70.7%;
          h2 {
            text-align:    center;
            margin-bottom: 15px;
          }
          p {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .home {
    .banner {
      min-height: 480px;
      &-inner {
        .inner-description {
          h1 {
            margin-bottom: 15px;
          }
          p {
            font-size:   14px;
            line-height: 1.28;
          }
        }
      }
    }
    .capabilities {
      &-inner {
        padding: 90px 0 50px;
        .inner-image {
          width:         75%;
          margin-bottom: 40px;
        }
        .inner-description {
          width: 100%;
          h2 {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}