@import "variables";

@media (any-hover: hover) {
  .ordering {
  }
}

.ordering-description {
  position: relative;
  .container {
    position: static;
  }
  .description-inner {
    .description-content {
      padding:   14.6vw 0 17.2vw;
      width:     56%;
      max-width: 550px;
      h2 {
        margin-bottom: 25px;
      }
    }
    .description-image {
      position:   absolute;
      right:      0;
      bottom:     0;
      width:      42.35vw;
      max-width:  813px;
      background: transparent;
    }
  }
}

.ordering-order {
  padding:    95px 0 110px;
  background: $primaryColor;
  .order-inner {
    display:         flex;
    justify-content: space-between;
    .order-form {
      background:    $whiteColor;
      border-radius: 30px;
      box-shadow:    5px 5px 15px rgba(115, 190, 196, 0.40);
      width:         49.333333%;
      padding:       6% 5.7% 6.7%;
      h1 {
        color:         $baseColor;
        font-size:     50px;
        line-height:   1.22;
        text-align:    center;
        margin-bottom: 15.9%;
      }
      .btn {
        display:         flex;
        align-self:      center;
        justify-content: center;
        font-weight:     700;
      }
    }
    .order-description {
      display:         flex;
      flex-direction:  column;
      justify-content: center;
      width:           43.1%;
      padding-right:   7.3%;
      h2 {
        margin-bottom: 20px;
      }
      .description-item {
        margin-bottom: 85px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// CF7
.wpcf7-not-valid-tip {
  font-size: 12px;
}

@media screen and (max-width: 1230px) {
  .ordering-description {
    .description-inner {
      .description-content {
      }
    }
  }
  .ordering-order {
    .order-inner {
      .order-form {
        h1 {
          font-size: 45px;
        }
      }
      .order-description {
        .description-item {
          h2 {
            font-size: 36px;
          }
          p {
            font-size: 20px;
          }
          margin-bottom: 65px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .ordering-description {
    .description-inner {
      .description-content {
        padding: 14% 0 12%;
        width:   48%;
        h2 {
          font-size:     24px;
          margin-bottom: 15px;
        }
      }
      .description-image {
        width:     100%;
        max-width: 356px;
      }
    }
  }
  .ordering-order {
    padding: 60px 0;
    .order-inner {
      flex-direction: column;
      align-items:    center;
      .order-form {
        width:         65.3%;
        border-radius: 25px;
        margin-bottom: 60px;
        h1 {
          font-size:   30px;
          line-height: 1.23;
        }
        .btn {
          padding:     15px 40px;
          line-height: 1.1875;
        }
      }
      .order-description {
        width:   65.3%;
        padding: 0;
        .description-item {
          background:    $whiteColor;
          box-shadow:    0 5px 15px rgba(115, 190, 196, 0.40);
          border-radius: 25px;
          padding:       15px 20px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          h2 {
            font-size:     18px;
            margin-bottom: 15px;
          }
          p {
            font-size:   16px;
            font-weight: 500;
            line-height: 1.5626;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .ordering-description {
    .description-inner {
      flex-direction: column;
      .description-content {
        padding: 45px 0 10px;
        width:   100%;
        h2 {
          font-size:     16px;
          margin-bottom: 10px;
        }
      }
      .description-image {
        position:  relative;
        right:     -20px;
        margin:    0 0 -19% 0;
        max-width: none;
      }
    }
  }
  .ordering-order {
    padding: 50px 0;
    .order-inner {
      .order-form {
        width:         100%;
        border-radius: 15px;
        margin-bottom: 50px;
        padding:       15.6% 9.5% 17.3%;
        h1 {
          font-size:   24px;
          line-height: 1.20;
        }
        .btn {
          padding:     10px 27px;
          font-weight: 600;
        }
      }
      .order-description {
        width: 100%;
        .description-item {
          border-radius: 15px;
          padding:       10px 15px;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          h2 {
            font-size: 14px;
          }
          p {
            font-size:   14px;
            line-height: 1.28;
          }
        }
      }
    }
  }
}