@import "variables";

@media (any-hover: hover) {
  .previously {
    &-item {
      .item-image:hover {
        .item-bg {
          opacity:    1;
          visibility: visible;
        }
        img {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

.previously {
  text-align:    center;
  margin-bottom: 5.21%;
  h2 {
    text-align:    center;
    margin-bottom: 4.7%;
  }
  &.products-previously {
    h2 {
      text-align:    right;
      margin-bottom: 5.7%;
    }
  }
  .swiper-previously {
    margin-bottom: 5.21%;
    .swiper-slide {
      height: auto;
    }
  }
  &-item {
    display:        flex;
    flex-direction: column;
    height:         100%;
    .item-image {
      margin-bottom: 25px;
      height:        100%;
      overflow:      hidden;
      position:      relative;
      cursor:        pointer;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 100%;
      }
      .item-bg {
        visibility: hidden;
        opacity:    0;
        position:   absolute;
        top:        0;
        left:       0;
        width:      100%;
        height:     100%;
        background: rgba(0, 0, 0, 0.4);
        padding:    10px 15px;
        z-index:    5;
        transition: .4s linear;
        .border {
          position: relative;
          width:    100%;
          height:   100%;
          border:   3px solid $whiteColor;
          img {
            width:     95px;
            height:    95px;
            position:  absolute;
            top:       50%;
            left:      50%;
            transform: translate(-50%, -50%);
            z-index:   1;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .previously {
    margin-bottom: 7.9%;
    h2 {
      margin-bottom: 45px;
    }
    .swiper-previously {
      margin-bottom: 7.9%;
    }
    .previously-item {
      .item-image {
        margin-bottom: 15px;
        .item-bg {
          padding: 10px;
          .border {
            img {
              width:  45px;
              height: 45px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .previously {
    h2 {
      margin-bottom: 45px;
    }
    .btn {
      padding: 10px;
    }
  }
  .swiper-previously {
    margin-bottom: 50px;
  }
}