@import "variables";

.previously {
  text-align:    center;
  margin-bottom: 5.21%;
  h2 {
    text-align:    center;
    margin-bottom: 4.7%;
  }
  &.products-previously {
    h2 {
      text-align:    right;
      margin-bottom: 5.7%;
    }
  }
  .swiper-previously {
    margin-bottom: 5.21%;
    .swiper-slide {
      height: auto;
    }
  }
  .previously-item {
    display:        flex;
    flex-direction: column;
    height:         100%;
    .item-image {
      margin-bottom: 25px;
      height:        100%;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 100%;
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .previously {
    margin-bottom: 7.9%;
    h2 {
      margin-bottom: 45px;
    }
    .swiper-previously {
      margin-bottom: 7.9%;
    }
    .previously-item {
      .item-image {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .previously {
    h2 {
      margin-bottom: 45px;
    }
  }
  .swiper-previously {
    margin-bottom: 50px;
  }
}