@import "variables";

.feature {
  background: $primaryColor;
  padding: 4.7% 0;
  margin-bottom: 5.21%;
  box-shadow: 0 5px 15px rgba(115, 190, 196, 0.30);
  h2 {
    text-align: center;
    margin-bottom: 3.7%;
  }
  p:first-child {
    font-weight: bold;
    margin-right: 6%;
  }
  .description-item {
    display: flex;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .feature {
    padding: 7.2% 0;
    .description-item {
      display: flex;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .feature {
    padding: 15.7% 0;
    h2 {
      margin-bottom: 17.3%;
    }
    .description-item {
      flex-direction: column;
      margin-bottom: 0;
      p {
        margin-bottom: 15px;
      }
      &:last-child {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}