@import "variables";

.feature {
  background: $primaryColor;
  padding: 4.7% 0;
  margin-bottom: 5.21%;
  box-shadow: 0 5px 15px rgba(115, 190, 196, 0.30);
  h2 {
    text-align: center;
    margin-bottom: 3.7%;
  }
  p:first-child {
    font-weight: bold;
    margin-right: 6%;
  }
  .description-item {
    display: flex;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.title {
  width: 66.8vw;
  background: $primaryColor;
  border-radius: 0 60px 60px 0;
  text-align: right;
  padding: 20px 35px 20px 0;
}
.fabrics {
  margin-bottom: 5.21%;
  h2 {
    width: 57.5vw;
    padding: 20px 75px 20px 0;
  }
  .container {
    max-width: 1850px;
    margin: 0 0 0 auto;
    padding-right: 0;
  }
  &-inner {
    display: flex;
  }
  &-image {
    width: 53%;
    margin-right: 3.9%;
  }
  .swiper-fabrics {
    border-radius: 40px 0 0 40px;
    box-shadow: 0 5px 15px rgba(115, 190, 196, 0.30);
    background: $primaryColor;
    padding: 33px 0 33px 40px;
    width: 46.51vw;
    .swiper-wrapper {
      background: $whiteColor;
      border-radius: 40px 0 0 40px;
    }
  }
  &-material {
    position: relative;
    display: flex;
    background: $whiteColor;
    .material-list {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 140px 40px 90px;
      border-radius: 40px 0 0 40px;

      .material-item {
        width: 112px;
        height: 112px;
        margin: 15px;
      }
    }
    .material-colors {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      box-shadow: 0 5px 15px rgba(115, 190, 196, 0.30);
      border-radius: 40px 0 0 40px;
      padding: 25px 115px 25px 40px;
      margin: 30px 0;
      .colors-list {
        .colors-item {
          width: 42px;
          height: 42px;
          border-radius: 50px;
          margin-bottom: 60px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .pink {
        background: #FBF1E6;
      }
      .brown {
        background: #756961;
      }
      .blue {
        background: #5F7FA6;
      }
      .green {
        background: #416F5C;
      }
      .purple {
        background: #B1707F;
      }
      .grey {
        background: #908B8F;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .feature {
    padding: 7.2% 0;
    .description-item {
      display: flex;
      margin-bottom: 20px;
    }
  }
  .products-previously {
    h2 {
      width: 71.9vw;
      padding: 7px 35px 7px 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .feature {
    padding: 50px 0;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 45px;
    }
    .description-item {
      flex-direction: column;
      margin-bottom: 0;
      p {
        margin-bottom: 15px;
      }
      &:last-child {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .products-previously {
    h2 {
      width: 94.1vw;
      padding: 9px 20px 9px 0;
    }
  }
}