@import "variables";

@media (any-hover: hover) {
  .viewed-products-item .item-image:hover {
    opacity: 0.7;
  }
  .viewed-products-item .item-description a:hover {
    color: $baseColor;
  }
  .viewed-products .swiper-button-next:hover {
    transform: translate(10px, 0);
  }
  .viewed-products .swiper-button-prev:hover {
    transform: translate(-10px, 0);
  }
}

.viewed-products {
  margin-bottom: 90px;
  .container {
    max-width: 1720px;
  }
  .swiper-button-prev, .swiper-button-next {
    top: 35%;
  }
  .swiper-button-prev {
    left: 40px;
  }
  .swiper-button-next {
    right: 40px;
  }
  .swiper-viewed {
    margin: 0 85px;
  }
  &-item {
    .item-image {
      margin-bottom:   30px;
      display:         flex;
      justify-content: center;
      align-items:     center;
      height:          25vw;
      &:active {
        opacity: .7;
      }
      img {
        object-fit:    contain;
        margin-bottom: 20px;
        max-height:    95%;
      }
    }
    .item-description {
      padding-left: 10px;
      a {
        font-size:   29px;
        font-weight: bold;
        color:       $blackColor;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .viewed-products {
    &-item {
      .item-description {
        padding-left: 0;
        a {
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .viewed-products {
    &-item {
      .item-description {
        a {
          font-size: 19px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .viewed-products {
    margin-bottom: 60px;
    p {
      font-size: 12px;
    }
    .swiper-button-prev, .swiper-button-next {
      top: 35%;
    }
    &-item {
      .item-image {
        margin-bottom: 15px;
      }
      .item-description {
        a {
          font-size: 18px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .viewed-products {
    margin-bottom: 50px;
    p {
      font-size: 12px;
    }
    .swiper-container {
      margin: 0 45px;
    }
    .swiper-button-prev, .swiper-button-next {
      top: 35%;
    }
    .swiper-button-prev {
      left: 15px;
    }
    .swiper-button-next {
      right: 15px;
    }
    &-item {
      .item-image {
        margin-bottom: 10px;
      }
    }
  }
}